support/templates/location.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://redhat.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LocationDetailService" targetNamespace="http://redhat.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://redhat.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://redhat.com/">
  <xs:complexType name="contactInfo">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="operating_hour" type="xs:string"/>
      <xs:element minOccurs="0" name="owner" type="xs:string"/>
      <xs:element minOccurs="0" name="phone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contact" type="contact"/>
  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="contactResponse" type="contactResponse"/>
  <xs:complexType name="contactResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="contactInfo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="contactResponse">
    <wsdl:part element="tns:contactResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="contact">
    <wsdl:part element="tns:contact" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LocationDetailServicePortType">
    <wsdl:operation name="contact">
      <wsdl:input message="tns:contact" name="contact">
    </wsdl:input>
      <wsdl:output message="tns:contactResponse" name="contactResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LocationDetailServiceSoapBinding" type="tns:LocationDetailServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="contact">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="contact">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="contactResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LocationDetailService">
    <wsdl:port binding="tns:LocationDetailServiceSoapBinding" name="LocationDetailServicePort">
      <soap:address location="http://location-soap-user1-dev.apps.52d6.openshift.opentlc.com/ws/location"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>